.card-header,th{
    background: #0073ff;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-right: 14px;
    margin-left: 15px;
    background-color: white;
}

.example-full-width{
    width: 250px;
}
button{
    margin: 45px;
}