.example-full-width{
    width: 280px;
}
svg
    {
        width: 113px!important;
        height: 43px!important;
    }
 .example-margin,mat-progress-spinner{
    
        width: 66px!important;
        height: 46px!important;
    
}

button{
    background: grey;
       
        color: white;
        margin-right: 26px;
    
}